header{width: 100%;
    max-width: 100%;
    height: 600px;
position: relative;
    padding: 10px 15px;
}

header img{
        width: 100%;
    object-fit: cover;
    height: 100%;
        border-radius: 20px;
}
section{     position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    right: 0;
    left: 0;
    min-height: 150px;

}
.container{    
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 21px;
    flex-wrap: wrap;
    backdrop-filter: blur(6px);
        border: 3px solid #305b84;


}



/* .form{
    width: 100%;
    min-width: 150px;
    max-width: 100%;
    display: flex;
    height: auto;
    padding: 15px 30px;
    border-radius: 23px;
    gap: 20px;
    border: 3px solid #305b84;
    backdrop-filter: blur(7px);
    background: #00000057;
    justify-content: space-between;
    align-items: center; */
/* } */

.form{
        display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button{
     width: 100px;
    height: 44px;
    border: none;
    border-radius: 11px;
    background-color: #005bb3;

    color: white;
    font-size: 16px;

}

.form input{
        background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}
.form svg{
         color: white;
    font-size: 23px;
}

.form input::placeholder{
    color: #fff8f8d5;
    font-size: 15px;
}




.from_to{

    display: flex;
    align-items: center;
    gap: 24px;

    color: white;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;
}

.from_to input{    background: none;
    border: none;
    outline: none;
    color: white;
    height: 100%;
    font-size: 16px;}
.from_to label svg{font-size: 23px;
    color: #eee;}
.from_to p svg{font-size: 20px;
    color: #eee;}

.input__border{
    
}
.input__border{

}

.input{
        display: flex;
    align-items: center;
    gap: 20px;
}