 .galery{
          display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
    padding-bottom: 80px;
}
 .galery h2{
    font-size: 31px;
    padding: 30px 0;
}
 .galery h2 span:nth-of-type(1){
    font-size: 31px;
    padding: 30px 0;
}
 .galery h2 span:nth-of-type(2){
    font-size: 31px;
    color: #142fc4fa;
}


.conatiner__galery{
     /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    gap: 20px; */


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-height: 100%;

}

.col{
     display: flex;
    flex-direction: column;
    gap: 21px;
    width: 200px;
    max-height: 100%;
}

.top{    max-height: 50%;}
.bottom{    max-height: 50%;}

/*
.col{      display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 450px;
}*/
.col img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
} 


.col-center{     height: 460px;
    width: 223px;

} 
.col-center img{   
     max-height: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;

} 