nav{
position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000 !important;
    width: 100%;
    left: 0;
    height: 47px;
    right: 0;
    padding: 10px 20px;
}

.rigth{display: flex;
    align-items: center;
    gap: 8px;}
.rigth img{    width: 38px;
    object-fit: contain;}


.rigth h2{    color: #145e8acf;}
.rigth h2 span{  color: #305b84;  }

.center ul{display: flex;
    align-items: center;
    gap: 40px;}

.center ul li a{
        color: black;
    font-size: 16px;

}    

.left{}